<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/aboutStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Nav Section -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/approach">Approach</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/process" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Process
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/about">Research</a></li>
                            <li><a class="dropdown-item" href="/product">Product</a></li>
                            <li><a class="dropdown-item" href="/design">Design</a></li>
                            <li><a class="dropdown-item" href="/development">Development</a></li>


                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="/about">About</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center mx-auto">
                    <a href="/"><img src="/images/Brand.svg" alt="" class="brandImage"></a>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-dark" type="submit">Let's Collab!</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="container hero">
        <img src="/images/LightBox2.svg" alt="">
    </div>

    <div class="container intro">
        <h1 class="roboto-bold">Introduce the team</h1>
        <div class="introContent">
            <p class="roboto-regular">The BusBrainiacs team from CMU comprises members with diverse backgrounds in
                project
                management, research, design, development, and product management. </p>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="/images/Jason.svg" alt="" class="introImage">
                <h6 class="roboto-bold">Jiaze (Jason) ke</h6>
                <p class="roboto-regular">Project Manager</p>
                <div class="connections">
                    <img src="/images/linkedin.svg" alt="">
                    <img src="/images/Twitter.svg" alt="">
                    <img src="/images/portfolio.svg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <img src="/images/Andrea.svg" alt="" class="introImage">
                <h6 class="roboto-bold">Andrea Chisholm</h6>
                <p class="roboto-regular">Researcher</p>
                <div class="connections">
                    <img src="/images/linkedin.svg" alt="">
                    <img src="/images/Twitter.svg" alt="">
                    <img src="/images/portfolio.svg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <img src="/images/Dhruvisha.svg" alt="" class="introImage">
                <h6 class="roboto-bold">Dhruvisha Mondhe</h6>
                <p class="roboto-regular">Developer</p>
                <div class="connections">
                    <img src="/images/linkedin.svg" alt="">
                    <img src="/images/Twitter.svg" alt="">
                    <img src="/images/portfolio.svg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="/images/Yihan.svg" alt="" class="introImage">
                <h6 class="roboto-bold">Yihan Qiao</h6>
                <p class="roboto-regular">Product Manager</p>
                <div class="connections">
                    <img src="/images/linkedin.svg" alt="">
                    <img src="/images/Twitter.svg" alt="">
                    <img src="/images/portfolio.svg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <img src="/images/Siyun.svg" alt="" class="introImage">
                <h6 class="roboto-bold">Siyun Wen</h6>
                <p class="roboto-regular">Designer</p>
                <div class="connections">
                    <img src="/images/linkedin.svg" alt="">
                    <img src="/images/Twitter.svg" alt="">
                    <img src="/images/portfolio.svg" alt="">
                </div>
            </div>

        </div>

    </div>

    <div class="container mentor">
        <h1 class="roboto-bold">Introduce the mentors</h1>
        <p class="roboto-regular">Alongside our team members, we have mentors consisting of faculties and alumni from
            CMU. Our collective expertise is directed towards delivering a high-fidelity prototype that meets the
            client's needs. </p>
        <div class="row">
            <div class="col-lg-4">
                <img src="/images/Ken.svg" alt="" class="introImage">
                <h6 class="roboto-bold">Ken Koedinger</h6>
                <p class="roboto-regular">Faculty mentor</p>
                <div class="connections">
                    <img src="/images/linkedin.svg" alt="">
                    <img src="/images/Twitter.svg" alt="">
                    <img src="/images/portfolio.svg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <img src="/images/Bruce.svg" alt="" class="introImage">
                <h6 class="roboto-bold">Bruce McLaren</h6>
                <p class="roboto-regular">Faculty mentor</p>
                <div class="connections">
                    <img src="/images/linkedin.svg" alt="">
                    <img src="/images/Twitter.svg" alt="">
                    <img src="/images/portfolio.svg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <img src="/images/BruceL.svg" alt="" class="introImage">
                <h6 class="roboto-bold">Bruce Li</h6>
                <p class="roboto-regular">Alumni mentor</p>
                <div class="connections">
                    <img src="/images/linkedin.svg" alt="">
                    <img src="/images/Twitter.svg" alt="">
                    <img src="/images/portfolio.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container contact">
        <button class="btn btn-dark" type="submit">Let's Collab!</button>
        <h1 class="roboto-bold my-3">Contact Us</h1>
        <p class="roboto-regular my-5">Partner with us to make greater education for everyone</p>
        <img src="/images/Email.svg" alt="">
        <h4 class="roboto-bold my-3">Email</h4>
        <p class="roboto-regular">busbrainiacs@gmail.com</p>
        <hr class="thick-hr my-5">
    </div>

    <div class="container copyright">
        <p class="roboto-regular">© 2024 Team BusBrainiacs. All rights reserved.</p>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>